{% extends 'base.html.twig' %}


{% block nav %}




{{ include('nav.html.twig ') }}


{% endblock %}



{% block body %}



   


  <section class="contents">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <div class="post-detail">
                          
                          <div class="post-item" style="">
                        <a href="#" class="overtlink"></a>
                        <div class="overlay-box">
                            <span class="cat"><a href="#">Category: {{posts.getCategory().name}}</a></span>
                            <h4><a href="#">{{posts.title}}</a></h4>
                            <span class="pi-time"><i class="fa fa-clock-o"></i> March 20, 2017</span>
                        </div>
                    </div>


                            <div class="postdtl-info">
                                <div class="porfthd">
                                    
                                    
                               
                                <p>


{{posts.body}}


                                </p>

                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </section>

{% endblock %}