{% extends 'base.html.twig' %}
{% block body %}



   


    <section class="contents">
            <div class="container">
             


 {% block fos_user_content %}{% endblock %}










             </div>
                   

        </section>
{% endblock %}